{
    servers {
        trusted_proxies static private_ranges
    }

    frankenphp {
        worker {
            file ./public/index.php
        }
    }
}

:80 {
    log {
        level DEBUG
    }

    root * /app/public
    encode zstd br gzip

    php_server
}
